version: "3"

services:
  reverse-proxy:
    container_name: Alexandria-ReverseProxy
    build: ./reverse_proxy
    volumes:
      - ./reverse_proxy/html:/var/www/html
    ports:
      - "5000:80"
    depends_on:
      - bot
      - liff
      - api
    tty: true
    environment:
      TZ: Asia/Tokyo

  bot:
    container_name: Alexandria-Bot
    build: ./bot
    volumes:
      - ./bot/:/app
    tty: true
    environment:
      TZ: Asia/Tokyo
      PORT: 4000

  api:
    container_name: Alexandria-Api
    build: ./api
    volumes:
      - ./api/:/app
    tty: true
    environment:
      TZ: Asia/Tokyo
      PORT: 5000

  liff:
    container_name: Alexandria-LIFF
    build: ./liff
    volumes:
      - ./liff/app:/usr/src/app
    tty: true
    environment:
      TZ: Asia/Tokyo
      PORT: 3000
