version: "3"

services:
  reverse-proxy:
    container_name: Alexandria-ReverseProxy
    build: ./reverse_proxy
    volumes:
      - ./reverse_proxy/html:/var/www/html
    ports:
      - "5000:80"
    depends_on:
      - bot
      - liff
      - api
    tty: true
    environment:
      - NGINX_HOSTNAME=sundaymorning.pagekite.me
      - LIFF_PORT=5000
      - API_PORT=5000
      - BOT_PORT=5000
    command: >
      /bin/sh -c
      "envsubst '
      $$NGINX_HOSTNAME
      $$LIFF_PORT
      $$API_PORT
      $$BOT_PORT
      '</etc/nginx/conf.d/default.conf.template
      >/etc/nginx/conf.d/default.conf
      && nginx -g 'daemon off;'
      "

  bot:
    container_name: Alexandria-Bot
    build: ./bot
    tty: true
    environment:
      - PORT=5000

  api:
    container_name: Alexandria-Api
    build: ./api
    tty: true
    environment:
      - PORT=5000

  liff:
    container_name: Alexandria-LIFF
    build: ./liff
    tty: true
    environment:
      - PORT=5000
