version: "3"

services:
  reverse-proxy:
    container_name: Alexandria-ReverseProxy
    image: steveltn/https-portal:1
    depends_on:
      - bot
      - liff
      - api
    tty: true
    restart: always
    ports:
      - "80:80"
      - "443:443"
    environment:
        DOMAINS: >-
            alexandria-app.tk -> http://bot:5000,
            bot.alexandria-app.tk -> http://bot:5000,
            api.alexandria-app.tk -> http://api:5000, 
            liff.alexandria-app.tk -> http://liff:5000
        STAGE: "production"
      
  bot:
    container_name: Alexandria-Bot
    build: ./bot
    tty: true
    environment:
      - PORT=5000

  api:
    container_name: Alexandria-Api
    build: ./api
    tty: true
    environment:
      - PORT=5000

  liff:
    container_name: Alexandria-LIFF
    build: ./liff
    tty: true
    environment:
      - PORT=5000
      - API_URL=https://api.alexandria-app.tk
